@model Vinasa.Models.THAMGIAHOINGHIQUOCTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="container col-11 centerPage">
    <h5 class="heading">Thông tin doanh nghiệp tham gia hội thảo</h5>
    <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            @Html.EditorFor(model => model.TenDonVi, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">Tên Đơn Vị</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DonViChungToiLa, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Đơn Vị Chúng Tôi Là</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Địa Chỉ</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Điện Thoại</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DaiDienLienHe, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Đại Diện Liên Hệ</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.ChucVu, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Chức Vụ</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DiDong, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Di Động</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Email</label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyThamDu, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Tham Dự</label>
            </label> 
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyPhatBieu, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Bài Phát Biểu</label>
            </label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyGianHangTrienLam, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Gian Hàng Triển Lãm</label>
            </label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyBusinessMatchingOnline, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Business Matching Online</label>
            </label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyBusinessMatchingOffline, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Business Matching Offline</label>
            </label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyTaiTro, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Tài Trợ</label>
            </label>
        </div>
        <div class="input-wrapper">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.DangKyQuangCao, new { @class = "form-check-input" })
                <label class="form-check-label"> Đăng Kí Quảng Cáo</label>
            </label>
        </div>
    </form>
    <div class="button-form">
        <button class="button-lc" id="cancel" onclick="location.href = 'javascript:history.go(-1)'">Quay Lại</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>