@model Vinasa.Models.TAIKHOANADMIN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="col-6">
            <h5 class="heading">Sửa Thông Tin Người Dùng</h5>
            <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.MatKhau)
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.Ten, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Tên</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                    <input class="ip-form" type="email" contenteditable="true" @Html.TextBoxFor(m => m.Email, new { @readonly = true })
                    <label class="lb-form">Email</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                    @Html.EditorFor(m => m.Sdt, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Số điện thoại</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.Sdt, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                    <input class="ip-form" type="text" contenteditable="true" @Html.TextBoxFor(m => m.PhongBan)
                    <label class="lb-form" for="name">Phòng Ban</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.PhongBan, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                <input class="ip-form" type="password" id="password" autocomplete="off" @Html.PasswordFor(m => m.matKhauMoi)
                <label class="lb-form" for="password">Mật Khẩu Mới</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.matKhauMoi, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                <input class="ip-form" type="password" id="password" autocomplete="off" @Html.PasswordFor(m => m.xacNhanMatKhau)
                <label class="lb-form" for="password">Xác Nhận Mật Khẩu</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.xacNhanMatKhau, "", new { @class = "text-danger" })
                </div>

                <div class="input-wrapper">
                    <input class="ip-form" type="text" contenteditable="true" @Html.TextBoxFor(m => m.ChucDanh)
                    <label class="lb-form" for="name">Chức Danh</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.ChucDanh, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    <label class="lb-form" for="name">Quyền</label>
                    @Html.DropDownListFor(m => m.Quyen, Model.RoleList, new { @class = "form-control select-region" })
                </div>
                <div class="input-wrapper">
                    <label class="lb-form" for="name">Trạng Thái</label>
                    @Html.DropDownListFor(m => m.TrangThai, Model.StatusList, new { @class = "form-control select-region" })
                </div>
            </form>
        </div>
        <div class="button-form">
            @*<button class="button-cancel" onclick="location.href='javascript:history.go(-1)'" type="button" name="cancel">Huỷ</button>

                <button class="button-lc" type="submit" name="save">Xác Nhận</button>*@

            @*@if ((int)Session["AccountID"] != Model.ID)
            {
                <button class="button-cancel" onclick="location.href='javascript:history.go(-1)'" type="button" name="cancel">Huỷ</button>
            }
            else
            {*@
            <button class="button-cancel" onclick="location.href='@Url.Action("ManageAccount", "Admin")'" type="button" name="cancel">Huỷ</button>
                <button class="button-lc" type="submit" name="save">Xác Nhận</button>
            @*}*@
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

     $('#enter').click(function () {
        location.href = "@Url.Action()";
    })
</script>
@if (TempData["Message"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
}