@model Vinasa.Models.SUDUNGDICHVUKHAC
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}
<div class="container col-11 centerPage">
    <h5 class="heading">Thông Tin Doanh Nghiệp Tham Gia</h5>
    <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            @Html.EditorFor(model => model.MaSoThue, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">Mã Số Thuế</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.TenCongTy, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Tên Công Ty</label>
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(m => m.NgayBatDauHopDong, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @readonly = "readonly" })
            <label class="lb-form" for="tax">Ngày bắt đầu hợp đồng</label>
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(m => m.NgayKetThucHopDong, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @readonly = "readonly" })
            <label class="lb-form" for="tax">Ngày kết thúc hợp đồng</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.TenDichVuKhac, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Tên Dịch Vụ</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.GiaGoc, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Giá Gốc</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.GiaUuDai, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Giá Ưu Đãi</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.ChiecKhauVinasa, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Chiếc Khấu Vinasa</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.TenNguoiLienHe, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Tên Người Liên Hệ</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.ChucDanh, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Chức Danh</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Email</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Điện Thoại</label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="name">Ghi Chú</label>
        </div>
    </form>
</div>
<div class="button-form f-r">
    <button class="button-lc" onclick="location.href = '@Url.Action("Index", "OtherServices")'">Quay Lại</button>
</div>