@model Vinasa.Models.Seminar
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="input-wrapper">
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Title, new { @class = "lb-form" })
</div>
<div class="message-error">
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
</div>
<div class="input-wrapper">
    @Html.TextBoxFor(model => model.OpenDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "ip-form", @type = "datetime-local", @required = "required" })
    @Html.LabelFor(model => model.OpenDate, new { @class = "lb-form" })
</div>
<div class="message-error">
    @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "text-danger" })
</div>
<div class="input-wrapper">
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Address, new { @class = "lb-form" })
</div>
<div class="message-error">
    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
</div>
<div class="button-form">
    <input type="button" class="button-cancel" onclick="location.href = 'javascript:history.go(-1)'" value="Hủy" />
    <button class="button-lc">Xác Nhận</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
