@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QUẢN LÝ HỘI VIÊN VINASA</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="icon" href="~/img/iconVinasa (2).png" type="image/png">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/css/sb-admin-2.css")" />
    <link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Page Wrapper -->
        <!-- Sidebar -->
        <div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i><img src="~/img/iconVinasa (2).png" style="width:30px;height:30px" /></i>
                </div>
                <div class="sidebar-brand-text mx-2">Vinasa Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            @{
                var txt = ViewContext.RouteData.Values["Action"].ToString();
                var select = "";

                if (txt == "ManageMember" || txt == "ManageAccount")
                {
                    select = "active";
                }
                else
                {
                    select = "";
                }

                <div class="nav-item @select" id="nav-item" data-toggle="collapse" data-target="#collapsePages"
                     aria-expanded="false" aria-controls="collapsePages">
                    <a class="nav-link" href="#" onclick="return false;">
                        <i class="fas fa-fw fa-user"></i>
                        <span>
                            Tài khoản

                        </span>
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-submenu py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ManageMember","Member")">
                                <span class="fas fa-caret-right"></span>
                                Hội Viên
                            </a>
                            <a class="collapse-item" href="@Url.Action("ManageAccount","Admin")">
                                <span class="fas fa-caret-right"></span>
                                Người Dùng
                            </a>
                        </div>
                    </div>
                </div>
            }
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Seminars")">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>Hội Nghị</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","GIAITHUONG")">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Giải Thưởng</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Course")">
                    <i class="fas fa-fw fa-graduation-cap"></i>
                    <span>Khoá Đào Tạo</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","IC")">
                    <i class="fas fa-fw fa-globe"></i>
                    <span>Hội Nghị Quốc Tế</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","ConnectionServices")">
                    <i class="fas fa-fw fa-network-wired"></i>
                    <span>Dịch Vụ Kết Nối</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","OtherServices")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dịch Vụ Khác</span>
                </a>
            </div>
            @{
                var txtFee = ViewContext.RouteData.Values["Action"].ToString();
                var selectFee = "";

                if (txtFee == "ManagePayFees" || txtFee == "ManageFeePeriod")
                {
                    selectFee = "active";
                }
                else
                {
                    selectFee = "";
                }

                <div class="nav-item @selectFee" id="nav-item" data-toggle="collapse" data-target="#collapsePages-fees"
                     aria-expanded="false" aria-controls="collapsePages-fees">
                    <a class="nav-link" href="#" onclick="return false;">
                        <i class="fas fa-fw fa-user"></i>
                        <span>
                            Hội Phí
                        </span>
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div id="collapsePages-fees" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-submenu py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ManageFeesPeriod","MemberFeePeriod")">
                                <span class="fas fa-caret-right"></span>
                                Kỳ Phí
                            </a>
                            <a class="collapse-item" href="@Url.Action("ManagePayFees","MemberPayFees")">
                                <span class="fas fa-caret-right"></span>
                                Đóng Phí
                            </a>
                        </div>
                    </div>
                </div>
            }
            <hr class="sidebar-divider d-none d-md-block">
            @{
                var txtStatistic = ViewContext.RouteData.Values["Action"].ToString();
                var selectStatistic = "";

                if (txtStatistic == "ActivityJoined" || txtStatistic == "BusinessByArea" || txtStatistic == "SizeOfPersonnel"
                    || txtStatistic == "FieldOfActivity" || txtStatistic == "TimeOfEstablishment" || txtStatistic == "BirthDayInMonth"
                    || txtStatistic == "MemberFee")
                {
                    selectStatistic = "active";
                }
                else
                {
                    selectStatistic = "";
                }

                <div class="nav-item @selectStatistic" id="nav-item" data-toggle="collapse" data-target="#collapsePages-statistic"
                     aria-expanded="false" aria-controls="collapsePages-statistic">
                    <a class="nav-link" href="#" onclick="return false;">
                        <i class="fas fa-fw fa-bar-chart"></i>
                        <span>
                            Thống Kê Hội Viên
                            <span class="fas fa-caret-down"></span>
                        </span>
                    </a>
                    <div id="collapsePages-statistic" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-submenu py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ActivityJoined","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo hoạt động tham gia
                            </a>
                            <a class="collapse-item" href="@Url.Action("BusinessByArea","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo khu vực
                            </a>
                            <a class="collapse-item" href="@Url.Action("SizeOfPersonnel","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo quy mô nhân sự
                            </a>
                            <a class="collapse-item" href="@Url.Action("FieldOfActivity","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo lĩnh vực hoạt động
                            </a>
                            <a class="collapse-item" href="@Url.Action("TimeOfEstablishment","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo thời gian thành lập
                            </a>
                            <a class="collapse-item" href="@Url.Action("BirthDayInMonth","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo sinh nhật trong tháng
                            </a>
                            <a class="collapse-item" href="@Url.Action("MemberFee","Statistic")">
                                <span class="fas fa-caret-right"></span>
                                Theo hội phí
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    <!-- End of Sidebar -->
    <div id="content-wrapper-home" class="d-flex flex-column">
        <video src="~/img/backgroundvideo.mp4" muted loop autoplay class="back-video"></video>
        <div class="content">
            <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a class="mr-2 d-none d-lg-inline text-white medium" href="@Url.Action("Profile", "Account")">Xin chào, @Session["UserName"]</a> <!-- change here-->
                            <a class="mr-2 d-none d-lg-inline text-white medium" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-white medium"></i>
                            </a>
                        </a>
                    </li>
                </ul>

            </nav>
            <div class="container-fluid-home">
                <div class="content-home">
                    <h2>VINASA ADMIN</h2>
                    <h1>XIN CHÀO</h1>
                    <h3>CHÚC BẠN MỘT NGÀY LÀM VIỆC TỐT LÀNH VÀ VUI VẺ !</h3>
                    <br />
                    <h5 class="date-time" id="current-time"></h5>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Chọn "Đồng ý" để kết thúc phiên đăng nhập của bạn</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Hủy</button>
                <button class="button-lc" type="button" onclick="location.href='@Url.Action("Logout", "Account")'">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

<!-- Core plugin JavaScript-->
<script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>

<!-- Custom scripts for all pages-->
<script src="@Url.Content("~/js/sb-admin-2.min.js")"></script>

<!-- Page level plugins -->
<script src="@Url.Content("~/vendor/chart.js/Chart.min.js")"></script>

<!-- Page level custom scripts -->
<script src="@Url.Content("~/js/demo/chart-area-demo.js")"></script>
<script src="@Url.Content("~/js/demo/chart-pie-demo.js")"></script>
<!-- Page level plugins -->
<script src="@Url.Content("~/vendor/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>

<!-- Page level custom scripts -->
<script src="@Url.Content("~/js/demo/datatables-demo.js")"></script>
<script>
    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    var curTime = curDate.getHours() + ":" + curDate.getMinutes() + ":" + curDate.getSeconds();
    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curTime + " ,Ngày " + curDay + " Tháng " + curMonth + " Năm " + curYear;
</script>
<script>
    const getNavItem = document.querySelectorAll('.nav-item');
    getNavItem.forEach(item => {
        const link = item.querySelector('.nav-link');
        if (link.href === window.location.href) {
            item.classList.add('active')
        }
    })
</script>
</body>

</html>
