@model Vinasa.Models.NGUOINHANGIAITHUONG

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NGUOINHANGIAITHUONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaiThuongId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaiThuongId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSoThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSoThue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDonVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDaiDienPhapLuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDaiDienPhapLuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucDanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucDanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiLienHeVoiBTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiLienHeVoiBTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucDanhNguoiLienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucDanhNguoiLienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNguoiLienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNguoiLienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiDongNguoiLienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiDongNguoiLienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuDangKy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
