@model Vinasa.Models.DongPhi
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

@using (Html.BeginForm("Edit", "MemberPayFees", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container col-11 centerPage">
        <h5 class="heading">Sửa Thông Tin Doanh Nghiệp Đóng Phí</h5>
        <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
            <div class="input-wrapper">
                @Html.EditorFor(m => m.MaSoThue, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                <label class="lb-form" for="tax">Mã số thuế</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.MaSoThue, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.EditorFor(m => m.TenCongTy, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                <label class="lb-form" for="tax">Tên công ty</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.TenCongTy, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.EditorFor(m => m.NguoiNhanPhieuThu, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                <label class="lb-form" for="tax">Người nhận phiếu thu</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.NguoiNhanPhieuThu, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.EditorFor(m => m.Sdt, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                <label class="lb-form" for="tax">Số điện thoại</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.Sdt, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.TextBoxFor(m => m.NgayChuyenTien, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @readonly = "readonly" })
                <label class="lb-form" for="tax">Ngày chuyển tiền</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.NgayChuyenTien, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.TextBoxFor(m => m.NgayGuiPhieuThu, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @readonly = "readonly" })
                <label class="lb-form" for="tax">Ngày gửi phiếu thu</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.NgayGuiPhieuThu, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                @Html.EditorFor(m => m.SoTienDong, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                <label class="lb-form" for="tax">Số Tiền Đóng</label>
            </div>
            <div class="message-error">
                @Html.ValidationMessageFor(m => m.SoTienDong, "", new { @class = "text-danger" })
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="text" contenteditable="true" @Html.TextBoxFor(m => m.GhiChu)
                <label class="lb-form" for="name">Ghi Chú</label>
            </div>
        </form>
        <div class="button-form">
            <button class="button-cancel" onclick="location.href='@Url.Action("ManagePayFees", "MemberPayFees")'" type="button" name="cancel">Huỷ</button>
            <button class="button-lc" type="submit" name="save">Xác Nhận</button>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#cancel').click(function () {
        location.href = 'javascript:history.go(-1)';
    })

</script>
@if (TempData["Message"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
}