@model Vinasa.Models.SUDUNGDICHVUKETNOI
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}
<div class="container col-11 centerPage">
    <h5 class="heading">Thông Tin Doanh Nghiệp Tham Gia</h5>
    <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            @Html.EditorFor(m => m.MaSoThue, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Mã số thuế
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.TenCongTy, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Tên công ty
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.NgayBatDauHopDong, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Ngày bắt đầu hợp đồng
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.NgayKetThucHopDong, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Ngày kết thúc hợp đồng
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.TenDichVu, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Tên dịch vụ
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.GiaGoc, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Giá gốc
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.GiaUuDai, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Giá ưu đãi
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.ChiecKhauVinasa, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Chiếc khấu Vinasa
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.TenNguoiLienHe, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Tên người liên hệ
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.ChucDanh, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Chức danh
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.DienThoai, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Điện thoại
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Email
            </label>
        </div>
        <div class="input-wrapper">
            @Html.EditorFor(m => m.GhiChu, new { htmlAttributes = new { @class = "ip-form", @readonly = "readonly" } })
            <label class="lb-form" for="tax">
                Ghi chú
            </label>
        </div>
    </form>
</div>
<div class="button-form f-l">
    <button class="button-lc" onclick="location.href = '@Url.Action("Index", "ConnectionServices")'">Quay Lại</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@if (TempData["Message"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
}