<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QUẢN LÝ HỘI VIÊN VINASA</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="icon" href="~/img/iconVinasa (2).png" type="image/png">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/css/sb-admin-2.css")" />
    <link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">

    <style>
        .btn-primary:hover {
            background-color: #051D65 !important;
        }
    </style>
</head>


@*class="bg-gradient-primary"*@

<body id="page-top">
    <div id="wrapper">
        <!-- Page Wrapper -->
        <!-- Sidebar -->
        <div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i><img src="~/img/iconVinasa (2).png" style="width:30px;height:30px" /></i>
                </div>
                <div class="sidebar-brand-text mx-2">Vinasa Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ</span>
                </a>
            </div>
            @{
                var txt = ViewContext.RouteData.Values["Action"].ToString();
                var select = "";

                if (txt == "ManageMember" || txt == "ManageAccount")
                {
                    select = "active";
                }
                else
                {
                    select = "";
                }

                <div class="nav-item @select" id="nav-item" data-toggle="collapse" data-target="#collapsePages"
                     aria-expanded="false" aria-controls="collapsePages">
                    <a class="nav-link" href="#" onclick="return false;">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Tài khoản</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-submenu py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ManageMember","Member")">Hội Viên</a>
                            <a class="collapse-item" href="@Url.Action("ManageAccount","Admin")">Người Dùng</a>
                        </div>
                    </div>
                </div>
            }
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Seminars")">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>Hội Nghị</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","GIAITHUONG")">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Giải Thưởng</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Course")">
                    <i class="fas fa-fw fa-graduation-cap"></i>
                    <span>Khoá Học</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","IC")">
                    <i class="fas fa-fw fa-globe"></i>
                    <span>Quan Hệ Quốc Tế</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-network-wired"></i>
                    <span>Dịch Vụ Kết Nối</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dịch Vụ Khác</span>
                </a>
            </div>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-chart-line"></i>
                    <span>Thống Kê</span>
                </a>
            </div>
        </div>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["UserName"]</span> <!-- change here-->
                                <svg width="30" height="30" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24 11.988C24 5.37 18.624 0 12 0S0 5.37 0 11.988c0 3.645 1.656 6.93 4.248 9.135.024.024.048.024.048.048.216.168.432.336.672.504.12.072.216.166.336.262A11.97 11.97 0 0 0 12.024 24a11.97 11.97 0 0 0 6.72-2.063c.12-.072.216-.166.336-.24.216-.166.456-.334.672-.502.024-.024.048-.024.048-.048 2.544-2.23 4.2-5.514 4.2-9.159ZM12 22.49c-2.256 0-4.32-.72-6.024-1.919.024-.192.072-.383.12-.575.143-.52.353-1.02.624-1.486.264-.456.576-.864.96-1.224a6.74 6.74 0 0 1 1.224-.959 6.057 6.057 0 0 1 1.464-.6A6.224 6.224 0 0 1 12 15.513a6.278 6.278 0 0 1 4.392 1.749 6.01 6.01 0 0 1 1.296 1.942c.168.433.288.889.36 1.367A10.545 10.545 0 0 1 12 22.489Zm-3.672-11.1a3.735 3.735 0 0 1-.312-1.537c0-.526.096-1.054.312-1.534s.504-.91.864-1.27.792-.647 1.272-.863A3.743 3.743 0 0 1 12 5.874c.552 0 1.056.096 1.536.312s.912.504 1.272.862c.36.36.648.792.864 1.271a3.74 3.74 0 0 1 .312 1.534c0 .553-.096 1.056-.312 1.535a4.26 4.26 0 0 1-.864 1.272 4.26 4.26 0 0 1-1.272.863 4.072 4.072 0 0 1-3.096 0 4.26 4.26 0 0 1-1.272-.863 3.79 3.79 0 0 1-.84-1.272v.002Zm11.136 7.959c0-.049-.024-.073-.024-.12a7.83 7.83 0 0 0-1.032-2.11 7.325 7.325 0 0 0-1.632-1.702 7.813 7.813 0 0 0-1.56-.912c.252-.166.485-.359.696-.575a6.31 6.31 0 0 0 .936-1.175 5.437 5.437 0 0 0 .792-2.902 5.566 5.566 0 0 0-.432-2.204 5.698 5.698 0 0 0-1.224-1.799 5.767 5.767 0 0 0-1.8-1.2 5.58 5.58 0 0 0-2.208-.43 5.58 5.58 0 0 0-2.208.432 5.446 5.446 0 0 0-1.8 1.222 5.76 5.76 0 0 0-1.2 1.799 5.565 5.565 0 0 0-.432 2.204c0 .528.072 1.032.216 1.511.144.504.336.96.6 1.39.24.432.576.816.936 1.176.216.216.456.407.72.575a7.68 7.68 0 0 0-1.56.936 8.314 8.314 0 0 0-1.632 1.678 7.498 7.498 0 0 0-1.032 2.11c-.024.047-.024.096-.024.12-1.896-1.919-3.072-4.508-3.072-7.385C1.488 6.21 6.216 1.486 12 1.486c5.784 0 10.512 4.724 10.512 10.502a10.44 10.44 0 0 1-3.048 7.36Z"></path>
                                </svg>
                                @*<img class="img-profile rounded-circle" src="~/img/iconVinasa (2).png" />*@
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="@Url.Action("Profile", "Account")">

                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hồ sơ
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; BẢN QUYỀN THUỘC VỀ VINASA</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>Chọn "Đồng ý" để kết thúc phiên đăng nhập của bạn</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Hủy</button>
                    <button class="button-lc" type="button" onclick="location.href='@Url.Action("Logout", "Account")'">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>

    <!-- Custom scripts for all pages-->
    <script src="@Url.Content("~/js/sb-admin-2.min.js")"></script>

    <!-- Page level plugins -->
    <script src="@Url.Content("~/vendor/chart.js/Chart.min.js")"></script>

    <!-- Page level custom scripts -->
    <script src="@Url.Content("~/js/demo/chart-area-demo.js")"></script>
    <script src="@Url.Content("~/js/demo/chart-pie-demo.js")"></script>
    <!-- Page level plugins -->
    <script src="@Url.Content("~/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>

    <!-- Page level custom scripts -->
    <script src="@Url.Content("~/js/demo/datatables-demo.js")"></script>

    <script>
        const getNavItem = document.querySelectorAll('.nav-item');
        getNavItem.forEach(item => {
            const link = item.querySelector('.nav-link');
            if (link.href === window.location.href) {
                item.classList.add('active')
            }
        })
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>