@model Vinasa.Models.HOINGHIQUOCTE
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}
@using (Html.BeginForm("Create", "IC", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="col-6">
            <h5 class="heading">Thêm Hội Nghị Quốc Tế</h5>

            <form class="form-field" method="post" enctype="multipart/form-data">
                <div class="input-wrapper">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Tên Hội Nghị</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.TextBoxFor(model => model.ThoiGianBatDau, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "ip-form", @type = "datetime-local" })
                    <label class="lb-form" for="tax">Thời gian bắt đầu</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(model => model.ThoiGianBatDau, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.TextBoxFor(model => model.ThoiGianKetThuc, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "ip-form", @type = "datetime-local" })
                    <label class="lb-form" for="tax">Thời gian kết thúc</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(model => model.ThoiGianKetThuc, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.EditorFor(model => model.DiaDiem, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Địa điểm</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(model => model.DiaDiem, "", new { @class = "text-danger" })
                </div>
            </form>
            <div class="button-form">
                <button class="button-cancel" onclick="location.href='@Url.Action("Index", "IC")'" type="button" name="cancel">Huỷ</button>
                <button class="button-lc" type="submit" name="save">Xác Nhận</button>
            </div>
        </div>

    </div>
}
