@model Vinasa.Models.HOINGHIQUOCTE
@{
    ViewData["Title"] = "Details";
}

<!-- Page Heading -->
<div class="heading">
    <h1 class="h3 mb-2 text-gray-800">Hội Nghị Quốc Tế - @{ @Model.Ten} </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" onclick="location.href = '@Url.Action("Index","IC")'" style="color:blue; cursor:pointer;">Danh Sách Các Hội Nghị Quốc Tế</li>
            <li class="breadcrumb-item active" aria-current="page">Danh Sách Doanh Nghiệp Tham Gia Hội Nghị Quốc Tế @{@Model.Ten}</li>
        </ol>
    </nav>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="right-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Danh Sách Doanh Nghiệp Tham Gia Hội Nghị</h6>
        </div>
        @if ((int)Session["AccountType"] == 1)
        {
            <div class="left-content">
                <button class="button-download" onclick="location.href='@Url.Action("Download", "IC")'">Tải mẫu Excel</button>
                <button type="button" id="importexcel" name="importexcel" class="button-lc" style=" width: 200px;" data-toggle="modal" data-target="#importexcel-window">
                    Thêm File Excel
                </button>
            </div>
        }
    </div>
    @Html.Partial("~/Views/ICParticipants/_List.cshtml", Model.THAMGIAHOINGHIQUOCTEs)
</div>
<div class="modal fade" id="importexcel-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tải lên file Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ImportExcel", "IC",
                    new { ID = @Model.ID },
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="modal-body">
                            <label class="form-label" for="customFile">Chọn 1 file Excel</label>
                        </div>
                        <div class="col-md-10">
                            <input class="input-file" type="file" name="UploadedFile" onchange="uploadFile(this)" />
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-b">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">
                            Hủy
                        </button>
                        <button type="submit" class="btn btn-primary button-lc" data-toggle="modal" data-target="#Success">
                            Tải lên
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Session["ViewBag.Success"] != null)
{
    int success = int.Parse(Session["ViewBag.Success"].ToString());
    int exist = int.Parse(Session["ViewBag.Exist"].ToString());
    int count = success + exist;

    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="import-success"
            data-toggle="modal" data-target="#Success">
        Success
    </button>
    <script>
        window.onload = function () {
            document.getElementById('import-success').click();
        }
    </script>
    <!-- Modal -->
    <div class="modal fade text-left" id="Success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel34">KẾT QUẢ IMPORT !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <a> Đã thêm thành công <b>"@success"</b> trong <b>"@count"</b> doanh nghiệp từ file</a>
                    </div>
                    <br />
                    <div class="col-12">
                        <div class="alert alert-success">
                            <strong>Thành công!</strong> Thêm mới thành công <b>@success</b> doanh nghiệp !
                        </div>
                        <div class="alert alert-warning">
                            <strong>Đã tồn tại!</strong>  Đã tồn tại <b>@exist</b> doanh nghiệp trên hệ thống !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Session["ViewBag.Success"] = null;
}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

@section scripts{
    <script>
        $(".delete-btn").on("click", function () {
            var id = $(this).data("id");
            var HoiNghiQT_ID = $(this).data("HoiNghiQT_ID");
            $.ajax({
                url: "@Url.Action("DeleteSelected", "ICParticipants")",
                data: {
                    id: id,
                    HoiNghiQT_ID: HoiNghiQT_ID
                },
                success: function (data) {
                    $("#deleteModal .modal-dialog").html(data);
                    $("#deleteModal").modal("show");
                }
            });
        });


    </script>
}
