@model Vinasa.Models.KHOAHOC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

@using (Html.BeginForm("Edit", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="col-6">
            <h5 class="heading">Sửa Thông Tin Khóa Đào Tạo</h5>
            <form class="form-field" method="post" enctype="multipart/form-data">
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.TenKhoaDaoTao, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Tên Khóa Đào Tạo</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.TenKhoaDaoTao, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.NgayBatDau, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @required = "required" })
                    <label class="lb-form" for="tax">Ngày Bắt Đầu</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.NgayBatDau, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.NgayKetThuc, "{0:yyyy-MM-dd}", new { @class = "ip-form", @type = "date", @required = "required" })
                    <label class="lb-form" for="tax">Ngày Kết Thúc</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.NgayKetThuc, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.HinhThuc, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Hình Thức</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.HinhThuc, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.TenGiangVien, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Tên Giảng Viên</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.TenGiangVien, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.DiaDiem, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Địa Điểm</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.DiaDiem, "", new { @class = "text-danger" })
                </div>
                <div class="input-wrapper">
                    @Html.EditorFor(m => m.HocPhi, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
                    <label class="lb-form" for="tax">Học Phí</label>
                </div>
                <div class="message-error">
                    @Html.ValidationMessageFor(m => m.HocPhi, "", new { @class = "text-danger" })
                </div>
            </form>
            <div class="button-form">
                <button class="button-cancel" onclick="location.href='@Url.Action("Index", "Course")'" type="button" name="cancel">Huỷ</button>
                <button class="button-lc" type="submit" name="save">Xác Nhận</button>
            </div>
        </div>

    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

